.gridContainer-contacto {
    display: grid; 
    grid-template-columns: 300px auto;
    grid-template-rows: 180px auto;
    background-color: $bgColor;

    .gridContacto {
        grid-column: 1/3;

        .contacto {
            font-family: $fontEncabezados;
            color:#9DA695;
            text-align: center;
            font-size: 4.5rem;
            margin-top: 50px; 
            height: 100px;
        }
    }

    section {
        grid-column: 1/3;
        margin-bottom: 50px;
    }
}

.footerContacto {
    @include footer;

    .footerImg {
        padding: 20px;

        img {
            width: 30px;
            height: auto;
            cursor: pointer;
         }
    }
    .footerInfo {
        margin-left: 30px
     } 
     
}
