
.gridContainer{
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 520px auto;
    background-color: $bgColor;

    & .presentacion{
        grid-column: 1/4;

        .tituloPresentacion{
            font-family: $fontEncabezados;
            color:$colorEncabezados;
            text-align: center;
            font-size: 4.5rem;
            margin-top: 20px; 
        }

        h2{
            font-family: $fontTexto;
            font-size: 2rem;
            text-align: center;
            color: $colorSubtitulos;
        }

        .flex-presentacion{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            margin-top: 60px;

            .imgItemEspacio{
                width: 300px;
                height: 300px;
                text-align: center;
                box-shadow: 2px 2px 5px #999;
                transition: all .5s;
                background-color: $bgColor1;

                &:hover{
                    width: 320px;
                    height: 320px;
                    background-color: #E7F4CE;
                }

                img{
                    width: 70px;
                    height: auto;
                    margin-top: 15px;
                    margin-bottom: 5px;
                    opacity: 0.5;
                }

                .tarjeta{
                    font-size: 3rem;
                    font-family: $fontEncabezados;
                    color: $colorEncabezados;
                    margin-bottom: 5px;
                    padding: 0;
                }

                p{
                    font-size: 1.2rem;
                    font-family: $fontTexto;
                    color:#7C7445;
                }
            }

            .imgItemArmonia{
                @extend .imgItemEspacio;
            }

            .imgItemCalidez{
                @extend .imgItemEspacio;
            }
        } 
    } 
    & .cuerpoIndex{
        grid-column: 1/4;

        .cuerpo{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 50px;
            background: linear-gradient(to bottom, #BAC9A5, #BBBCB7);
            padding: 20px;

            .itemP{
                width: 450px;
                height: 450px;

                h3{
                    max-width: 100%;
                    font-family: $fontTexto;
                    font-size: 2rem;
                    letter-spacing: 1px;
                    text-align: justify;
                    color:$bgColor;
                    margin-top: 10px; 
                }

                p{
                    max-width: 100%;
                    font-family: $fontTexto;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    text-align: justify;
                    color:$bgColor;
                    margin-top: 10px;
                }

                img{
                    max-width: 100%;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    box-shadow: 2px 2px 5px #999
                }
            }
        }
    }
}



.footerIndex {
    @include footer;

    .footerImg{
        padding: 20px;

        img{
            width: 30px;
            height: auto;
            cursor: pointer;
        }
    }

    .footerInfo{
        margin-left: 30px
    }
}
