@media (max-width: 912px){

    /* INDEX */
    .gridContainer{
        & .presentacion{

            .tituloPresentacion{
                font-size: 3.5rem;
            }

            .flex-presentacion{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                margin-top: 50px;
                flex-wrap: wrap;

                .imgItemEspacio {
                    width: 250px;
                    height: 250px;

                    &:hover{
                        width: 252px;
                        height: 252px;
                    }

                    img{
                        width: 60px
                    }

                    .tarjeta{
                        font-size: 2rem;
                    }
                }
            }
        }

        & .cuerpoIndex{
            .cuerpo{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 20px;

                .itemP {
                    width: 550px;
                    height: 500px;

                    p{
                        font-size: 1.8rem;
                    }

                    img{
                        max-width: 500px;
                    }
                }
            }
        }
    }


    /* ARQUI */

    .gridContainer-arqui {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 800px auto;

        .presentacion {
            grid-column: 1/4;

            .ideasArqui {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center; 
                gap: 20px;
                margin-top: 50px;
                margin-bottom: 10px;
                flex-wrap: wrap;
            }
        } 
    }

    /* DISEÑO */

    .gridContainer-diseño {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto;

        .cuerpoDiseño{

            .ideasJardines {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin-bottom: 10px;
                margin-top: 50px;
                flex-wrap: wrap;

                .itemJ{
                    h1 {
                        text-align: left;
                        font-size: 2.5rem;
                        max-width: 200px;
                    }
                    h2 {
                        text-align: center;
                        font-size: 1.5rem;
                        padding: 10px;
                        margin-top: 50px;
                        align-items: center;
                        margin-bottom: 50px;
                    }
                    img {
                        max-width: 500px;
                        height: auto;
                    }
                
                } 
            }
        } 
        
        .cuerpoDiseño1{
            margin-top: 50px;
            margin-bottom: 50px;

            .portfolio {
                margin-top: 10px;
            }
        }    
    }


    /* DECORACION */

    .imagenesCatalogo{
        max-width: 250px;
    }
}


@media (max-width: 768px){
    /* INDEX */
    .gridContainer{
        display: grid;
        grid-template-columns: 300px auto 300px;
        grid-template-rows: 500px auto;

        & .presentacion {
            grid-column: 1/4;

            .flex-presentacion{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                margin-top: 50px;

                .imgItemEspacio {
                    width: 230px;
                    height: 230px;

                    &:hover{
                        width: 232px;
                        height: 232px;
                    }

                    img{
                        width: 50px;
                    }

                    .tarjeta{
                        font-size: 2rem;
                    }
                }
            }
        }

        & .cuerpoIndex{
            grid-column: 1/4;

            .cuerpo{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 20px;

                .itemP{
                    width: 550px;
                    height: 500px;
                }
            }
        }
    }


    /* ARQUI */

    .gridContainer-arqui {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 800px auto;

        .presentacion {
            grid-column: 1/4;

            .ideasArqui {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center; 
                gap: 20px;
                margin-top: 50px;
                margin-bottom: 10px;
                flex-wrap: wrap;

                .itemA{
                    h1 {
                        text-align: left;
                        font-size: 2.5rem;
                        max-width: 250px;
                    }

                    p {
                        text-align: left;
                        max-width: 250px;
                    }
                    h2 {
                        text-align: center;
                        font-size: 1.5rem;
                        padding: 10px;
                        margin-top: 50px;
                        align-items: center;
                        margin-bottom: 50px;
                    }
                    img {
                        max-width: 500px;
                        height: auto;
                    }
                }
            }
        } 
    }

    /* DISEÑO */
    .gridContainer-diseño {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto;

        .cuerpoDiseño{
            .ideasJardines {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin-bottom: 10px;
                margin-top: 50px;
                flex-wrap: wrap;

                .itemJ{
                    h1 {
                        text-align: left;
                        font-size: 2.5rem;
                        max-width: 250px;
                    }
                    h2 {
                        text-align: center;
                        font-size: 1.5rem;
                        padding: 10px;
                        margin-top: 50px;
                        align-items: center;
                        margin-bottom: 50px;
                        box-shadow: 2px 2px 5px #999;
                    }
                    img {
                        max-width: 500px;
                        height: auto;
                    }
                }
            }
        }

        .cuerpoDiseño1{
            .portfolio {
                align-items: center;
                margin-top: 50px;
                padding: 30px;
            }
            
        }
    }

    /* DECORACION */

    .main{

        .tituloDecoracion{
            font-size: 2rem;
        }
    
        .imagenesCatalogo{
          max-width: 300px;
        }
    }

    /* CONTACTO */
    .gridContainer-contacto {
        display: grid; 
        grid-template-columns: 300px auto;
        grid-template-rows: 150px auto;

        .gridContacto {
            grid-column: 1/3;

            .contacto {
                text-align: center;
                font-size: 5rem;
                margin-top: 20px; 
            }
        }

        section {
            grid-column: 1/3;

            .col-sm-12 {
                margin-top: 20px;
            }

            iframe{
                width: 600px;
            }  
        }
    }
}

@media (max-width: 576px){
    /* INDEX */
    .gridContainer{
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 800px auto;

        & .presentacion{
            grid-column: 1/4;

            .tituloPresentacion{
                font-size: 2rem;
                margin-top: 50px;
            }

            h2{
                font-size: 1.5rem;
            }

            .flex-presentacion {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                margin-top: 50px;
                gap: 10px;

                .imgItemEspacio {
                    width: 200px;
                    height: 200px;
                    text-align: center;

                    &:hover {
                        width: 200px;
                        height: 200px;
                    }

                    img {
                        width: 50px;
                        height: auto;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }

                    .tarjeta{
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 1rem;
                        margin-top: 0px;
                    }
                }
            }
        }

        & .cuerpoIndex{
            grid-column: 1/4;

            .cuerpo {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 50px;
                padding: 20px;

                .itemP {
                    width: 320px;
                    height: 420px;

                    p {
                        max-width: 100%;
                        font-family: 'Thasadith', sans-serif;
                        font-size: 1.2rem;
                        letter-spacing: 1px;
                        text-align: justify;
                        margin-top: 10px;
                    }

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .footerIndex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .footerImg {
            padding: 20px;
        
          img {
              width: 20px;
          }
        }
       .footerInfo {
        margin-left: 0px
      } 
}

  /* ARQUI */

  .gridContainer-arqui {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 800px auto;

    .presentacion {
        grid-column: 1/4;

        .ideasArqui {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly; 
            gap: 0px;
            margin-top: 50px;
            margin-bottom: 10px;

            .itemA{
                h1 {
                    text-align: center;
                    font-size: 1.8rem;
                    max-width: 250px;
                }
                p {
                    font-size: 1.2rem;
                    text-align: center;
                    max-width: 250px;
                }
                h2 {
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 10px;
                    margin-top: 10px;
                    align-items: center;
                    margin-bottom: 50px;
                }
                img {
                    max-width: 300px;
                    height: auto;
                    opacity: 0.5; 
                }
            }
        }
    } 
    section {
        grid-column: 1/4;

        .card {
            margin-top: 10px;
            margin-bottom: 30px;
            max-width: 350px;
            justify-items: center;
        }
    }
}

.footerArqui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .footerImg {
        padding: 20px;

        img {
            width: 20px;
        }
    }

    .footerInfo {
        margin-left: 0px
    }  
}

  /* DISEÑO */

  .gridContainer-diseño {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;

    .cuerpoDiseño{
        .ideasJardines {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            gap: 0px;
            margin-bottom: 10px;
            margin-top: 50px;

            .itemJ{
                h1 {
                    text-align: center;
                    font-size: 2.5rem;
                    max-width: 250px;
                }
                h2 {
                    text-align: center;
                    padding: 10px;
                    margin-top: 50px;
                    align-items: center;
                    margin-bottom: 50px;
                }

                img {
                    max-width: 300px;
                    height: auto;
                    opacity: 0.5; 
                }
            }
        }
    }

    .cuerpoDiseño1{
        .portfolio {
            align-items: center;
            margin-top: 20px;
            padding: 20px;
            font-size: 2.5rem;
        }
    }
}

.footerDiseño {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .footerImg {
        padding: 20px;

        img {
            width: 20px;
        }
    }

    .footerInfo {
        margin-left: 0px
    } 
    
}

  /* DECORACION */
.gridContainer-deco{
    .main{
        .tituloDecoracion{
            font-size: 2.5rem;
        }
    
        .imagenesCatalogo {
            max-width: 200px;
         }
    
      }
}
 
.footerDeco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .footerImg {
        padding: 20px;

        img {
            width: 20px;
        }
    }

    .footerInfo {
        margin-left: 0px
    } 
    
  }

    /* CONTACTO */
    .gridContainer-contacto {
        display: grid; 
        grid-template-columns: 300px auto;
        grid-template-rows: 100px auto;

        .gridContacto {
            grid-column: 1/3;

            .contacto {
                text-align: center;
                font-size: 3.5rem;
                margin-top: 20px; 
            }
        }

        section {
            grid-column: 1/3;

            iframe{
                width: 320px;
                height: 350px;
            }
        }
    }
    
    .footerContacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .footerImg {
            padding: 20px;

            img {
                width: 20px;
             }
        }

        .footerInfo {
            margin-left: 0px
         } 
    }


}