*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "vars";
@import "bootstrap";
@import "arqui";
@import "index";
@import "diseño";
@import "deco";
@import "contacto";
@import "medias";

